extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            .info--header
                .info--header__main
                    .video__title=video.title
                    .video__author
                        |Uploaded by
                        a(href=routes.userDetail(video.creator.id))=video.creator.name
                if loggedUser && video.creator.id === loggedUser.id
                    a(href=routes.editVideo(video.id),class="video__editBtn") 
                        button Edit Video
            if video.views === 1
                span.video__views 1 view
            else
                span.video__views #{video.views} views
            p.video__description=video.description
        .video__comments
            if video.comments.length === 1
                .video__comments-number
                    span#jsCommentNumber 1 
                    |  comment
            else
                .video__comments-number
                    span#jsCommentNumber=video.comments.length
                    |  comments
            if loggedUser
                form.add__comment#jsAddComment
                    img.comment-user__avatar(src=loggedUser.avatarUrl.match(/http/) ? loggedUser.avatarUrl : `/${loggedUser.avatarUrl}`)#jsAddCommentUserAvatar
                    .add__comment-container
                        .add__comment-user__name#jsAddCommentUserName=loggedUser.name
                        textarea(name="comment", placeholder="Add a comment",required=true)
                        button(type="submit")#jsAddCommentButton
                            span Comment!
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()
                    li
                        img.comment-user__avatar(src=comment.creator.avatarUrl.match(/http/) ? comment.creator.avatarUrl : `/${comment.creator.avatarUrl}`)
                        .comment-main
                            .comment-user__name=comment.creator.name
                            .comment-text=comment.text